<html>
    <head>
        <title>title>Ajouter une culture</title>
    </head>
    <body>
        <h1>Bienvenue dans votre page d'ajout de culture dans votre kit {{nomkit}}</h1>
        <form action="/ajoutculturecode"method="post">
            {%if message %}
                <p style="color: red;">{{ message }}</p>
            {% endif %}
            {%if cultures %}
        <h2>Liste des cultures :</h2>
        <ul>
            {% for culture in cultures %}
                <li>{{ culture.nom }} : {{ culture.quantité }} kg</li>
            {% endfor %}
        {% endif %}
            <input type="hidden" name="idkit" value="{{ idkit }}">
            <label for="nomculture">Veuillez selectionner la culture</label>
            <select type="text" name="nomculture" required>
                <option value="Maïs">Maïs</option>
                <option value="Pomme de terre">Pomme de Terre</option>
                <option value="Oignon">Oignon</option>
                <option value="Riz(brut)">Riz(Brut)</option>
                <option value="Mil">Mil</option>
                <option value="Arachide">Arachide</option>
                <option value="Sésame">Sésame</option>
            </select>
            <label for="quantite">Quantité en kg</label>
            <input type="number" name="quantite" min="1" required>
            <input type="submit" value="Ajouter la culture">
        </form>

    </body>
</html>