<html>
    <head>
        <title>Tableau de bord</title>
    </head>
    <body>
        <h1>Tableau de bord</h1>
        <p>Bienvenue sur votre tableau de bord, {{session['prenom']}}</p>
        <p>Voici vos informations :</p>
        <ul>
            <li>Prénom : {{ session['prenom'] }}</li>
            <li>Région : {{ session['region'] }}</li>
        </ul>
        {% if session['kits']%}
            <h2>Vos kits :</h2>
                {% for kit in session['kits'] %}
                <div id="kits">
                    <form action="/infokit" method="POST">
                        {{ kit['nom'] }}
                        <input type="hidden" name="id_kit" value="{{ kit['id_kit'] }}">
                        <input type="hidden" name="nomkit" value="{{ kit['nom'] }}">
                        <input type="submit" value="Voir les détails de ce grenier">
                    </form>
                </div>
                {% endfor %}
        {% else %}
            <p>Aucun kit disponible.</p>
        {% endif %}
        <form action="/commanderkit" method="POST">
            <input type="hidden" name="userid" value="{{ session['id'] }}">
            <input type="hidden" name="userprenom" value="{{ session['prenom'] }}">
            <input type="submit" value="Commander un kit">
        </form>
        <form action="/alertekits", method="POST">
            <input type="hidden" name="userid" value="{{ session['id'] }}">
            <input type="submit" value="Notifications kits">
        </form>
        <a href="/deconnexion">Déconnexion</a>
    </body>
</html>